body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.4em;
  background-color: #261e47;
  text-align: center;
  color: white;
  margin: 0;
  font-family: $openSans;
}

.img-oliver {
  background-image: url(../static/img/oliver.png);
}
.img-logo_white {
  background-image: url(../static/img/logo_white.png);
}
.img-logo {
  background-image: url(../static/img/logo.png);
}