body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.4em;
  background-color: #261e47;
  text-align: center;
  color: white;
  margin: 0;
  font-family: $openSans;
}